page {
	background-color: #F8F8F8;
	position: relative;
	padding-bottom: 98upx;
}

.goods_card {
	height: 150upx;
}

.goods_card_img {
	width: 150upx;
	height: 150upx;
}

.content {
	background-color: #FFFFFF;
}

.address {
	height: 174upx;
	background-color: #FFFFFF;
}

.address-info {
	flex: 2;
}

.address-name {
	ont-size: 28upx;
	font-weight: bold;
	color: rgba(34, 34, 34, 1);
	margin-bottom: 10upx;
}

.address-phone {
	font-size: 28upx;
	font-weight: 400;
	color: rgba(153, 153, 153, 1);
	opacity: 0.9;
	margin-left: 32upx;
}

.address-detail {
	font-size: 26upx;
	font-weight: 400;
	color: rgba(34, 34, 34, 1);
	margin-right: 30upx;
}

.address-edit {
	width: 78upx;
	height: 88upx;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAoCAYAAABjPNNTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QzgxNDBGQ0QzMUI1MTFFOUExMjFENUQ0MDA2RkJBOTEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QzgxNDBGQ0UzMUI1MTFFOUExMjFENUQ0MDA2RkJBOTEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDODE0MEZDQjMxQjUxMUU5QTEyMUQ1RDQwMDZGQkE5MSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDODE0MEZDQzMxQjUxMUU5QTEyMUQ1RDQwMDZGQkE5MSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqQmMiYAAASsSURBVHjaxJgLiBVVGMdn72q6rVLa1aVso9LV0h4YamWwivYSc6nU6GEWWmS0ZFpkokbgAx9ZWboJama+SlEow7I2zVfaigmFRmkP1NhKKy3LTddu/wO/kWmaM3dm7pX7wY+z7Myd+c93vvN93zlFmUzG8VuXHjc4Ea2zqBI3i06itSgWv4lvRJ14T9SKU1EeuLtu6//+18SJb0XiLjFWXG25py1cL0aKA2KmeFWciPvCVMz7LxQfijcRWC9eFgPExaJEnCUuEH3FJPGVKBcviV2iW1yRcTx5rXhXpMUhMU4ssnimHtaLZ/mI6YTHFjFMLMu3J43AjxD4Pi+bF3HqTNC/g+drRDOxRNyXT5Hni7dFKV9vvHI4QSz/LR4jlk1cv8bH50XkAlHGCh0qGp3cbKqYRewuFc1zFdlf9BNHxBBLGjEp50HxMff9KXaKMaKF5blPiy9EezEqV5FjGSeKnwKun8fiWCh6iXPE2eIaPPa5uDzgdyaWR/P36GzeDBNpkrPJ6r+LuZZ8uUpUioPifpK58d6tpJtLyAjnBvy+Fo+nifNEIm9jXC3+Crg+GO/Vk7SXUGnMdK/jA3eIS8VTlncs870rtsjrGDdYrt/LOBlP+u041cbBy0G23veu2CI7MO4JqdsOFchm25mFi4hVv30p/sHbqSQiWzP+7Jw5M7nzDypfyyQiTzI2tVx3PXxTlpAxHtxviWvv808mEfmjp6kIC/pxlntKSNrGFlue0YaPOBryEaEidzDamsuVYiNl8xOSfSvK5y3CNIbdxbfiecsz3GfXJV047oK4PaRxGCg204oZb/0qjtGEdBXfkV6OWJ5xJ+MHSUXW8tJunpXst19EH1qvzST+4yRyU62uYgUHmUnwd7C6VyQVeYJOpShLfW2kLFYGlMVjIb97hOq0hoWVuHbPQYRpIDrmMfW09FShF3NtML4n1ppQWfJlz1CzN7D4cu4nnyM9DAxZ6XGsgs4n4+mychZp4mUGsTk/SpOaZae5gGe8IT6N9KPO3XtGua85vWEFG6oxCUWa7cNsetMr2dDl5MnL6MqNNYjhpIsnE057J1a8u7JdgT1EzyQiU6SGtSRqhzw4k+3CW5S0qGZmYjkpZxEbO9fWkZPL4oocRKu2T/zg+f942q921O7iiCLneCrQSN+1jdT56rgi3eT9AlPsTfCDaT5uFK9EEFhNRWrg44/6rk9jHGHpOQNFVtJimb316wHXD/IyI/hRcp7NqjheMfaQ+Czgnm3MTpq4jyTS3cXVUIeDbCsCTa6bIh4IuKcXcVjMglka8jHTGR8P0lTcpl25f0XPYmruCevxaCIaaHoH4OFdHoFrmT6TW5/IEhJfc+zSgWZ6d5jIKXQ9C7N1Jh6PnuIErYouu4KdYwkJ+2FfXNvavkYOI8pJ+IHJvIzV14ycti9GihnBEWBTz0snc6KWifiMEqpbmpnYFBST1dy4JqZAh8OD3pQ5c2B6t5gQQ6C7Ba7xrYv/eLKUjidN9t/mFMbSeNPM5hVuw+x6chg3bC+gQIe0txhdo7zTnWLpe1NBIW0GC22IWypTnhLonvtkCsxedJ0ulako54MFNJM1Sv8VYABNuywyv1aUKAAAAABJRU5ErkJggg==');
	background-size: 41upx 40upx;
	background-position: left center;
	background-repeat: no-repeat;
}

.order-item-goods {
	padding: 20upx 0;
	border-top: none;
}

.orders-goods-wrap .order-item-goods:last-child {
	border-bottom: none;
}

.menu-title {
	font-size: 28upx
}

.info-item {
	font-size: 26upx;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	line-height: 50upx;
}

.remark {
	border-bottom: none;
	border-top: solid 1upx #e9e9e9;
	justify-content: flex-start;
}

.remark input {
	flex: 2;
	margin-left: 20upx;
	font-weight: 400;
}

.invoice {
	border-top: solid 1upx #e9e9e9;
}

.invoice view {
	color: ;
}

.bottom-menu {
	height: 98upx;
	width: 100%;
	background-color: #fff;
	border-top: solid 1upx #f4f5f7;
}

.bottom-menu-con {
	height: 100%;
	font-size: 30upx;
	color: #222222;
	padding-left: 30upx;
}

button {
	margin: 0;
	color: #FFFFFF;
	height: 98upx;
	font-size: 30upx;
	font-weight: 400;
	background: rgba(204, 20, 20, 1);
	line-height: 98upx;
	padding: 0 114upx;
	border-radius: 0;
}

.total {
	align-items: flex-end;
	line-height: 60upx;
}

.total-price {
	font-size: 48upx;
	font-weight: bold;
	color: rgba(204, 27, 39, 1);
	margin-left: 12upx;
	align-items: flex-end;
	line-height: 65upx;
}

.total-price-sym {
	font-size: 24upx;
	line-height: 50upx;
	margin-right: 5upx;
}

.pay-title {
	text-align: center;
	font-size: 32upx;
}

.scrollInvoice {
	height: 645upx;
}

.invoice-box .menu {
	height: 80upx;
	line-height: 80upx;
}

.menu-name {
	min-width: 150upx;
	height: 100%;
}

.menu input {
	flex: 2;
	margin-left: 30upx;
	text-align: left;
}

.menu-name text {
	color: #CC1414;
	font-size: 30upx;
	font-weight: bold;
}

.selec-title {
	font-size: 26upx;
	color: rgba(51, 51, 51, 1);
}

.invoice-type {
	/* width: 122upx; */
	height: 48upx;
	border: 1upx solid rgba(153, 153, 153, 1);
	border-radius: 23upx;
	color: #B3B3B3;
	font-size: 24upx;
	line-height: 48upx;
	text-align: center;
	margin-right: 20upx;
	padding: 0 30upx;
}

.invoice-type.invoice_sel {
	color: #FFFFFF;
	background-color: #CC1414;
	border: 1upx solid #CC1414;

}

.cansel {
	color: #CC1414;
	background-color: #FFFFFF;
	border: 1upx solid #CC1414;
}

.confirmbtn {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 101;
}

.goods_card_info {
	padding: 6upx 0;
}
